h3 { 
color:rgba(48, 67, 132, 0.81);
} 
h4{
    color:rgba(1, 123, 85, 0.67)
}

body {
    
background-color:lightblue;
    
} 
h5 {
    color:rgb(0, 139, 139)
} 
#leftcol {
    height:1000
} 
#leftcol {
    background-color: pink
} 
#headers {
color:#ba5858
    
}